{{ template "layout" . }}
{{ define "body" }}
  <p style="color:#000000;font-family:'arial' , sans-serif;font-size:19px;margin-bottom:0;margin-top:14px">
    Здравствуйте, {{ .UserName }}!
  </p>
  <p
    style="color:#000000;font-family:'arial' , sans-serif;font-size:14px;line-height:17px;margin-bottom:0;margin-top:30px">
    Вы забыли пароль? Для сброса пароля <a target="_blank" href="{{ .Link }}">перейдите по ссылке</a>,
    ссылка действительна до <nobr>{{ .Expiration }}</nobr>.
    <br><br>
    Вот что нам известно:
  </p>
  <ul
    style="color:#000000;font-family:'arial' , sans-serif;font-size:14px;line-height:17px;margin-bottom:0;margin-top:10px">
    <li
      style="color:#000000;font-family:'arial' , sans-serif;font-size:14px;line-height:17px;margin-bottom:5px;margin-top:0">
      IP: {{ .IP }}
    </li>
    <li
      style="color:#000000;font-family:'arial' , sans-serif;font-size:14px;line-height:17px;margin-bottom:5px;margin-top:0">
      OC: {{ .Agent }}
    </li>
  </ul>
  <p
    style="color:#000000;font-family:'arial' , sans-serif;font-size:14px;line-height:17px;margin-bottom:0;margin-top:30px">
    Вы можете проверить историю входов в личном кабинете своего аккаунта, если нет подозрительных записей,
    это значит, что злоумышленник не смог пройти защиту.
  </p>
  <p
    style="color:#000000;font-family:'arial' , sans-serif;font-size:14px;line-height:17px;margin-bottom:0;margin-top:30px">
    Если это были не Вы, проигнорируйте это сообщение.
  </p>
  <p
    style="color:#000000;font-family:'arial' , sans-serif;font-size:15px;font-style:italic;margin-bottom:0;margin-top:30px">
    С заботой о безопасности Вашего аккаунта, команда Alnovi.
  </p>
{{ end }}
