# [APP]
APP_ENVIRONMENT=development
APP_VERSION=0.0.1
APP_HOST=http://localhost:8080
APP_SECRET=
APP_SHUTDOWN=5s

# [LOG]
LOG_FORMAT=json-pretty
LOG_LEVEL=debug

# [HTTP]
HTTP_HOST=0.0.0.0
HTTP_PORT=8080

# [DB]
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=secret
DB_DATABASE=db

# [MAIL]
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_FROM=SSO
MAIL_USERNAME=admin@example.com
MAIL_PASSWORD=secret

# [JWT]
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# [ADMIN USER]
ADMIN_EMAIL=admin@example.com
