.panel-container {
  .p-password {
    .p-password-input {
      width: 100%;
    }

    svg {
      cursor: pointer;
    }
  }

  .p-checkbox-box.p-focus {
    box-shadow: none;
  }

  a.link {
    text-decoration: none;
    color: var(--primary-color)
  }
}
