html {
  height: 100%;
  //font-size: 14px;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  opacity: 0;
  animation: ani 2.5s forwards;
}
