.session-list {
  .session-list-item {
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 10px 5px 2px;
    &:hover {
      background-color: var(--hover-color);
      transition: .3s var(--cubic-bezier-ease-in-out);
    }
    .session-list-item__logo {
      margin-right: 10px;
    }
    .session-list-item__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .session-list-item__description {
        opacity: 0.6;
      }
    }
  }
}
